<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head',{css:"productdetail", title:"Detalle del Producto"}) %>

<body>
    <%- include('../partials/header') %>

    <main>
        <div class="image">
            <h2>Nombre <%= product.name%></h2>
            <h2>Nombre científico: <%= product.other_name%></h2>
            <h3>precio <%= product.price%></h3>
            <img src="<%= product.image%>">
        </div>
        <div class="info">
            <h4><%= product.description%></h4>
            <p><%= product.features%></p>
        </div>
        <div class="buy">
            <label for="unidades">Cantidad</label>

            <input type="number" id="unidades" name="cantidad" min="1" max="100">
            <input type="submit" value="Comprar" />
            <h5 class="discount">Pagando en efectivo 10% de descuento</h4>
            <p class="freeship">Envío grátis a partir de 10 unidades</p>
            <h5>También podes llevarlo en cuotas</h4>
            <form action="#">
                <label for="cuotas">Cuotas</label>
                <select name="cuotas" id="cuotas">
                  <option value="3">3 cuotas de $700</option>
                  <option value="6">6 cuotas de $400</option>
                  <option value="12">12 cuotas de $220</option>
                  
                </select>
                <input type="submit" value="Comprar" />
          </form>
            <h5><a href="">Ver otros medios de pago</a></h4>

        </div>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>