<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{css:"allproduct", title:"Productos"}) %>

    <body class="all">
        <%- include('../partials/header') %>
            <main class="corp">
                <h3 class="title">Nuestros productos</h3>
                <div class="bigbox">
                    <% for(let i=0; i< allProducts.length; i++){%>
                    <div class="smallbox">
                        <a href="/product/productdetail/<%= allProducts[i].id %>">
                            <img class="img" src="<%= allProducts[i].img %>">
                        </a>
                        <div class="data">
                            <p class="name"> <%= allProducts[i].name %></p>
                            <p class="value">Precio: <%= allProducts[i].price %></p>
                            <p>Nombre científico: <%= allProducts[i].other_name %></p>                            
                        </div>
                    </div> 
                    <%}%>                  
                </div>

            </main>
            <%- include('../partials/footer') %>

    </body>

</html>