<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head',{css:"register", title:"Register"}) %>
    <body>
        <%- include('../partials/header') %>
        <main>

            <div class="shadow">

                <form method="POST" action="/users/register" enctype="multipart/form-data">
                
                    <h1 class="h1-crear">Crea tu cuenta</h1>
                    <label>Nombre Completo</label>
                    <input 
                        type="text" 
                        name="nombreyapellido" 
                        placeholder="Nombre y Apellido"
                        class="form-control <%= locals.errors && errors.nombreyapellido ? 'is-invalid' : null %>"
                        >
                        <% if (locals.errors && errors.nombreyapellido) { %>
                            <div class="text-danger">
                                <%= errors.nombreyapellido.msg %>
                            </div>
                        <% } %>

                    <label>Nombre de Usuario</label>
                    <input 
                        type="text" 
                        name="nombreDeUsuario" 
                        placeholder="Nombre de Usuario"
                        class="form-control <%= locals.errors && errors.nombreDeUsuario ? 'is-invalid' : null %>"
                        >
                        <% if (locals.errors && errors.nombreDeUsuario) { %>
                            <div class="text-danger">
                                <%= errors.nombreDeUsuario.msg %>
                            </div>
                        <% } %>

                    <label>Correo Electronico</label>
                    <input 
                            type="email" 
                            name="email" 
                            placeholder="Email"
                            class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                            >
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-danger">
                                    <%= errors.email.msg %>
                                </div>
                            <% } %>

                    <label>Fecha de nacimiento</label>
                    <input 
                        type="date" 
                        name="FechaDeNacimiento" 
                        class="form-control <%= locals.errors && errors.FechaDeNacimiento ? 'is-invalid' : null %>"
                        >
                        <% if (locals.errors && errors.FechaDeNacimiento) { %>
                            <div class="text-danger">
                                <%= errors.FechaDeNacimiento.msg %>
                            </div>
                        <% } %>
                
                    <label>Domicilio:</label>
                    <select name="domicilio" class="lugar">
                        <option value="">Buenos Aires</option>
                        <option value="">Cordoba</option>
                        <option value="">Mendoza</option>
                        <option value="">Salta</option>
                        <option value="">Tucuman</option>
                        <option value="">Corrientes</option>
                        <option value="">Rio Negro</option>
                    </select>

                    <div class="col-md-6 my-1">
                        <div class="form-group">
                            <label><b>Imagen de perfil:</b></label>
                            <input type="file" name="avatar" class="form-control <%= locals.errors && errors.avatar ? 'is-invalid' : null %>">
                            <% if (locals.errors && errors.avatar) { %>
                                <div class="text-danger">
                                    <%= errors.avatar.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
           
                    <label>Contrase単a</label>
                    <input 
                        type="password" 
                        name="password" 
                        placeholder="Contrase単a"
                        class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                            >
                            <% if (locals.errors && errors.password) { %>
                                <div class="text-danger">
                                    <%= errors.password.msg %>
                                </div>
                            <% } %>

                    <label>Confirmar Contrase単a</label>
                    <input 
                        type="password" 
                        name="password" 
                        placeholder="Confirmar Contrase単a"
                        class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                        >
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                
                    <button type="submit" class="btn btn-primary">Registrarse</button>
            
                </form>
            </div>
        </main>
        <%- include ('../partials/footer')%> 
    </body>
</html>