<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head',{css:"edituser", title:"Editar suarioo"}) %>

    <body>
        <%- include('../partials/header') %>

        <main class="main-editprofile">
            <div class="container-editprofile">
                <form class="form-editprofile" action="/users/edituser/<%= users.id%>?_method=PUT" name="formulario" method="POST"
                    enctype="multipart/formdata">
                    <h1 class="h1-crear">Editar Usuario</h1>
                    <label class="label-usrs"><b>Nombre</b></label>
                    <div>
                        <input type="text" name="first_name" value="<%= users.first_name%>" class="form-control">
                    </div>
                    <label class="label-usrs"><b>Apellido</b></label>
                    <div>
                        <input type="text" name="last_name" value="<%= users.last_name%>" class="form-control">

                    </div>

                    <label class="label-usrs"><b>Correo Electronico</b></label>

                    <input type="email" name="email" value="<%= users.email%>" class="form-control">

                    <label class="label-usrs"><b>Domicilio:</b></label>
                    <select name="domicilio" class="lugar">
                        <option value="">Elige una provincia</option>
                        <option value="1">Cordoba</option>
                        <option value="2">Mendoza</option>
                        <option value="3">Buenos Aires</option>

                    </select>
                    <label class="label-usrs"><b>Calle</b></label>

                    <input type="text" name="calle" value="<%= users.domicilio_id.calle%>" class="form-control">


                    <label class="label-usrs"><b>Altura</b></label>

                    <input type="text" name="altura" value="<%= users.domicilio_id.altura%>" class="form-control">


                    <div>
                        <label class="label-usrs"><b>Imagen de perfil:</b></label>
                    </div>
                    <div class="form-group">
                        <input type="file" name="avatar" class="form-control">
                    </div>
                    
                    <div class="button">
                        <button type="submit" class="button-usr">Actualizar</button>
                    </div>
                </form>
                <form class="form-delete" action="/users/edituser/<%= users.id%>?_method=DELETE" name="formulario" method="POST"
                    enctype="multipart/formdata">
                    <button class="button-usr" type="submit">Eliminar este usuario</button>
                </form>
            </div>

        </main>
        <%- include('../partials/footer') %>
    </body>
</html>