<!DOCTYPE html>
<html lang="en">

<!-- <head>
=======

    <link rel="stylesheet" href="/css/login.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

</head> -->
    <%- include('../partials/head',{css:"login", title:"login"}) %>
<body>
    <%- include('../partials/header') %>
    <main class="content">
        <div class="container-login">
            <div class="shadow">
                <form class="form-login" action="/users/login" method="POST">
                    <h1  class="inicio">Iniciar Sesión</h1>
                    <label class="form-usr">Correo Electronico</label>
                    <input type="email" name="email" placeholder="Email" class="input-usr <%= locals.errors && errors.email ? 'is-invalid' : null %>">
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-danger">
                                    <%= errors.email.msg %>
                                </div>
                            <% } %>
                    <label  class="form-usr" for="password">Contraseña:</label>
                    <input  class="input-usr <%= locals.oldData ? oldData.password : null %> "  type="password" id="password" name="password" placeholder="Ingrese aquí su contraseña">
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg  %>
                        </div>
                    <% } %>
                    <input  class="input-usr"  type="submit" value="Iniciar Sesión">
                </form>
            </div>


        </div>
    </main>
    
    <%- include('../partials/footer') %>
</body>

</html>


