<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{css:"profile", title:"Perfil"}) %>
<body>
    <%- include('../partials/header') %>
    <main >
                <section>
                    <div>


                        <h2> <%= users.first_name%> <%= users.last_name%></h2>
                        <img src="/img/users/<%= users.img%>">


                        <h4>Email <%= users.email%>
                        </h4>
                        <h3>Domicilio: <%= domicilio.calle%>
                        </h3>
                        <p>
                            <%= domicilio.altura%>
                        </p>
                        <p>
                            <%= localidad.provincia%>
                        </p>        
                        
                </section>
               
            </main>
            <%- include('../partials/footer') %>
</body>
</html>