<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{css:"register", title:"Register"}) %>
    <body>
        <%- include('../partials/header') %>
        <main class="main-register">
            <div class="container-main">
                <form class="form-register" action="/users/register" method="POST" enctype="multipart/form-data">
                    <h1 class="h1-crear">Crea tu cuenta</h1>

                    <label class="label-usrs"><b>Nombre Completo</b></label>
                    <div>
                        <input 
                            type="text" 
                            name="fullName" 
                            placeholder="Nombre y Apellido"
                            class="form-control <%= locals.errors && errors.fullName ? 'is-invalid' : null %>"
                            >
                            <i class="fas fa-times-circle"></i>
                            <% if (locals.errors && errors.fullName) { %>
                                <div class="text-danger">
                                    <%= errors.fullName.msg %>
                                </div>
                            <% } %>
                        
                    </div>
                    <label class="label-usrs"><b>Nombre de Usuario</b></label>
                    <div>
                        <input 
                            type="text" 
                            name="nombreDeUsuario" 
                            placeholder="Nombre de Usuario"
                            class="form-control <%= locals.errors && errors.nombreDeUsuario ? 'is-invalid' : null %>"
                            >
                            <i class="fas fa-times-circle"></i>
                            <% if (locals.errors && errors.nombreDeUsuario) { %>
                                <div class="text-danger">
                                    <%= errors.nombreDeUsuario.msg %>
                                </div>
                            <% } %>
                    </div>
                    <label class="label-usrs"><b>Correo Electronico</b></label>
                    <div>
                        <input 
                            type="email" 
                            name="email" 
                            placeholder="Email"
                            class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                            >
                            <i class="fas fa-times-circle"></i>
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-danger">
                                    <%= errors.email.msg %>
                                </div>
                            <% } %>

                    <label class="label-usrs">Fecha de nacimiento</label>
                    <input 
                        type="date" 
                        name="FechaDeNacimiento" 
                        class="form-control <%= locals.errors && errors.FechaDeNacimiento ? 'is-invalid' : null %>"
                        >
                        <% if (locals.errors && errors.FechaDeNacimiento) { %>
                            <div class="text-danger">
                                <%= errors.FechaDeNacimiento.msg %>
                            </div>
                        <% } %>
                
                    <label class="label-usrs">Domicilio:</label>
                    <select name="domicilio" class="lugar">
                        <option value="Buenos Aires">Buenos Aires</option>
                        <option value="Cordoba">Cordoba</option>
                        <option value="Mendoza">Mendoza</option>
                        <option value="Salta">Salta</option>
                        <option value="Tucuman">Tucuman</option>
                        <option value="Corrientes">Corrientes</option>
                        <option value="Rio Negro">Rio Negro</option>
                    </select>

                    <div class="col-md-6 my-1">
                        <label class="label-usrs"><b>Imagen de perfil:</b></label>
                        <div class="form-group">
                            <input type="file" name="avatar" class="form-control <%= locals.errors && errors.avatar ? 'is-invalid' : null %>">
                            <i class="fas fa-times-circle"></i>
                            <% if (locals.errors && errors.avatar) { %>
                                <div class="text-danger">
                                    <%= errors.avatar.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <label class="label-usrs"><b>Contrase単a</b></label>
                    <div>
                        <input 
                            type="password" 
                            name="password" 
                            placeholder="Contrase単a"
                            class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                            >
                            <i class="fas fa-times-circle"></i>
                            <% if (locals.errors && errors.password) { %>
                                <div class="text-danger">
                                    <%= errors.password.msg %>
                                </div>
                            <% } %>

                    <label class="label-usrs">Confirmar Contrase単a</label>
                    <input 
                        type="password" 
                        name="passwordConfirm" 
                        placeholder="Confirmar Contrase単a"
                        class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                        >
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                
                    <button  type="submit" class="btn btn-primary button-usr">Registrarse</button>
            
                </form>
            </div>
        </main>
        <%- include ('../partials/footer')%> 
    </body>
</html>