<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{css:"register", title:"Register"}) %>
    <body>
        <%- include('../partials/header') %>
        <main class="main-register">
            <div class="container-main">
                <form class="form-register" action="/users/register" method="POST" enctype="multipart/form-data">
                    <h1 class="h1-crear">Crea tu cuenta</h1>

                    <label class="label-usrs"><b>Nombre Completo</b></label>
                    <div>
                        <input 
                            type="text" 
                            name="first_name" 
                            placeholder="Nombre y Apellido"
                            class="form-control <%= locals.errors && errors.first_name ? 'is-invalid' : null %>"
                        >
                        <% if (locals.errors && errors.first_name) { %>
                            <div class="text-danger">
                                <%= errors.first_name.msg %>
                            </div>
                        <% } %>
                    </div>
                    <label class="label-usrs"><b>Apellido</b></label>
                    <div>
                        <input 
                            type="text" 
                            name="last_name" 
                            placeholder="Apellido"
                            class="form-control <%= locals.errors && errors.last_name ? 'is-invalid' : null %>"
                        >
                        <% if (locals.errors && errors.last_name) { %>
                            <div class="text-danger">
                                <%= errors.last_name.msg %>
                            </div>
                        <% } %>
                    </div>
                    <label class="label-usrs"><b>Correo Electronico</b></label>
                    <div>
                        <input 
                            type="email" 
                            name="email" 
                            placeholder="Email"
                            class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                        >
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                    </div>
                    <label class="label-usrs"><b>Fecha de nacimiento</b></label>
                    <div>
                        <input 
                            type="date" 
                            name="FechaDeNacimiento" 
                            class="form-control <%= locals.errors && errors.FechaDeNacimiento ? 'is-invalid' : null %>"
                        >
                        <% if (locals.errors && errors.FechaDeNacimiento) { %>
                            <div class="text-danger">
                                <%= errors.FechaDeNacimiento.msg %>
                            </div>
                        <% } %>
                    </div>
                    <label class="label-usrs"><b>Domicilio:</b></label>
                    <div>
                        <select name="domicilio" class="lugar">
                            <option value="">Buenos Aires</option>
                            <option value="">Cordoba</option>
                            <option value="">Mendoza</option>
                            <option value="">Salta</option>
                            <option value="">Tucuman</option>
                            <option value="">Corrientes</option>
                            <option value="">Rio Negro</option>
                        </select>
                    </div>
                    <label class="label-usrs"><b>Imagen de perfil:</b></label>
                    <div class="form-group">
                        <input type="file" name="avatar" class="form-control <%= locals.errors && errors.avatar ? 'is-invalid' : null %>"
                        >
                        <% if (locals.errors && errors.avatar) { %>
                            <div class="text-danger">
                                <%= errors.avatar.msg %>
                            </div>
                        <% } %>
                    </div>
                    <label class="label-usrs"><b>Contrase単a</b></label>
                    <div>
                        <input 
                            type="password" 
                            name="password" 
                            placeholder="Contrase単a"
                            class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                        >
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                    </div>
                    <label class="label-usrs"><b>Confirmar Contrase単a</b></label>
                    <div>
                        <input 
                            type="password" 
                            name="password" 
                            placeholder="Confirmar Contrase単a"
                            class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                        >
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                    </div>
                    <button  type="submit" class="btn btn-primary button-usr">Registrarse</button>
                </form>
            </div>
        </main>
        <%- include ('../partials/footer')%> 
    </body>
</html>